# Built-in Data structure and sequences

## list

In [9]:
# sorting

In [1]:
a = [7, 2, 5, 1, 3]

In [3]:
a.sort()

In [4]:
a

[1, 2, 3, 5, 7]

In [6]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [7]:
b.sort(key=len)

In [8]:
b

['He', 'saw', 'six', 'small', 'foxes']

### slicing

In [12]:
seq = [7, 2, 3, 6, 3, 5, 6, 0, 1]

In [14]:
len(seq)

9

In [13]:
seq[-6:-2]

[6, 3, 5, 6]

In [19]:
id(seq[-6:-2])

140712124902208

In [15]:
seq[3:7]

[6, 3, 5, 6]

In [20]:
id(seq[3:7])

140712124907840

In [17]:
seq[-6:-2] == seq[3:7]

True

In [18]:
seq[-6:-2] is seq[3:7]

False

## built-in sequence functions

In [21]:
# range
# enumerate
# zip
# sorted
# reversed

## Dict

In [22]:
x = {'a': 1, 'b': 2, 'c': 3}

In [24]:
x.keys()

dict_keys(['a', 'b', 'c'])

In [25]:
x.values()

dict_values([1, 2, 3])

In [26]:
x.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

### creating dicts from sequences

In [28]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [30]:
import pandas as pd

In [39]:
df1 = pd.DataFrame(zip(range(5), reversed(range(5))), columns=['asc', 'des'])
df1

   asc  des
0    0    4
1    1    3
2    2    2
3    3    1
4    4    0

In [40]:
df2 = pd.DataFrame(mapping.items(), columns=['asc','des'])
df2

   asc  des
0    0    4
1    1    3
2    2    2
3    3    1
4    4    0

In [68]:
t1 = zip(range(5), reversed(range(5)))
t1

In [69]:
t2 = mapping.items()
t2

dict_items([(0, 4), (1, 3), (2, 2), (3, 1), (4, 0)])

In [72]:
hasattr(t1, '__iter__')

True

In [73]:
hasattr(t1, '__next__')

True

In [70]:
list(t1)

[(0, 4), (1, 3), (2, 2), (3, 1), (4, 0)]

In [71]:
list(t2)

[(0, 4), (1, 3), (2, 2), (3, 1), (4, 0)]

### generator expressions

In [75]:
x = (x**2 for x in range(5))

In [76]:
x

In [77]:
hasattr(x, '__iter__')

True

In [78]:
hasattr(x, '__next__')

True

In [81]:
def g():
    i = 0
    if i < 5:
        yield i
        i += 1

In [82]:
g()

In [83]:
hasattr(g(), '__iter__')

True

In [84]:
hasattr(g(), '__next__')

True

In [80]:
# so a geneator is also an iterator

## default values in Dict