In [1]:
# an effecient way to insert items in a dict to Pandas dataframe

In [6]:
import random
import numpy as np

In [35]:
keys = np.random.randint(0, 100000, 1000)
keys[:10]

array([  753, 57949, 94566, 86413, 81100, 42345, 15297, 40818,  2168,
        8920])

In [36]:
values = np.random.random(1000)
values[:10]

array([0.23094234, 0.6633507 , 0.98860519, 0.36502799, 0.46320094,
       0.5708997 , 0.88343583, 0.69392334, 0.05548942, 0.93262993])

In [37]:
dict1 = dict(zip(keys,values))

In [38]:
len(dict1)

996

In [39]:
import pandas as pd

In [40]:
df1 = pd.DataFrame(dict1.items(), columns=['keys', 'values'])
df1

      keys    values
0      753  0.230942
1    57949  0.663351
2    94566  0.988605
3    86413  0.365028
4    81100  0.463201
..     ...       ...
991   2169  0.251366
992  64793  0.215658
993  23051  0.689356
994  81466  0.004480
995  43497  0.883346

[996 rows x 2 columns]